.homepage-container{
    position: relative;
    display: block;
    width: 100%;
}
.navigation-top-container{
    display: block;
    position: sticky;
    top:0px;
    background-color: burlywood;
    border-bottom: 1px black solid;
    width: 100%;
    height: 73px;
    z-index: 4;
    box-shadow: 0 8px 10px -5px rgba(0, 0, 0, .2), 0 16px 24px 2px rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, .12);
}

.navigation-top-title{
    display: inline-block;
    position: relative;
    top:5px;
}
.navigation-top-title h1 {
    position: relative;
    padding: 0;
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 40px;
    color: #080808;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 4px 6px rgba(26, 0, 0, 0.65);
}



.navigation-top-search{
    display: inline-block;
    position: absolute;
    padding: 5px;
    top: 5px;
    right: 15px;
    background-color: wheat;
    border-radius: 30px;

}
.navigation-top-search input{
    display: inline-block;
    position: relative;
    width: 0px;
    height: 40px;
    padding: 0;
    left:5px;
    border-radius: 30px;
    background-color: wheat;
    font-size: large;
    border: none;
    transition: width 0.7s ease;
}
.navigation-top-search input.open{
    width: 250px;
    padding-left: 5px;
    margin-right: 4px;
}

.navigation-top-search button{
    display: inline-block;
    position: relative;
    width: 40px;
    height: 40px;
    z-index: 1;
    vertical-align: middle;
    background-color: transparent;
    margin: auto 3px;
    font-size: x-large;
    border: none;
    border-radius: 25px;
}


.navigation-top-command{
    display: inline-block;
    position: absolute;
    padding: 5px;
    top: 5px;
    left: 15px;
}

.navigation-top-command button{
    display: inline-block;
    position: relative;
    margin: 5px;
    padding: 5px;
    width: 80px;
    height: 40px;

    font-size: large;
    font-weight: bold;

    background-color: bisque;
    border-radius: 20px;
}

